@media (max-width: 640px) {
    .header {
        min-width: 640px;
        min-height: 637px;
        margin-bottom: 57px;
        margin-right: auto;
        margin-left: auto;
      
        background-position: center bottom;
      }

      .header__content {
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        /* padding-left: 5px; */
      }

      .container {
        display: block;
      }

      .header__logo-image {
        width: 270px;
      }

      .menu__list {
        display: block;
      }

      .heading {
        width: 328px;
        height: 384px;
        
        font-size: 26px;
      }

      .wrap-trend {
        max-width: 100%;
        margin-bottom: 700px;
      }

      .trend {
        width: 100%;

        flex-direction: column;
      }

      .trend-box--one {
        width: 100%;
        min-height: 230px;
      
        flex-direction: row;
        justify-content: center;
      }

      .trend-box--two {
        width: 100%;
        min-height: 230px;

        flex-direction: row;
        justify-content: center;
      }

      .trend-box--three {
        width: 100%;
        min-height: 230px;

        flex-direction: row;
        justify-content: center;
      }

      .trend-box--four {
        width: 100%;
        min-height: 230px;
      
        flex-direction: row;
        justify-content: center;
      }

      .wrap {
        max-width: 360px;
      
        display: block;
      }

      .main {
        width: 100%;
      }

      .content-box {
        min-width: 100%;
        display: block;
       
        margin-left: 0;
      }

      .content-box-last {
        min-width: 100%;
        display: block;
       
        margin-left: 0;
        margin-bottom: 50px;
      }

      .preview {
        margin-left: 0;
      }

      .wrap-products {
        width: 100%;
      }

      .products {
        flex-direction: column;
        gap: 25px;
      }

      .footer {
        width: 100%;
       
      }

      .social__background {
        max-width: 640px;
        height: 83px;

      
      }

      .social__list {
        min-width: 360px;
      }



    }
